<p> Main </p>

<%= form_for(:task, :action =>'rand_task') do |f|%>
  <%= render(:partial => "rand_task", :locals => {:f => f}) %>
<% end %>

<%= link_to 'gen task', :action => :show, :id =>'random' %>
<%= link_to 'random task', task_path(:random) %>