// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header_bar{
	 background-color: #607B8B;
	 width: 100%;
}
h1{
	
}

body{
  background-color: #B0E2FF;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}